<ion-header>
  <ion-toolbar>
    <ion-title>Recipe Editor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-list-header> Recipes </ion-list-header>
  <br>
  <ion-searchbar [debounce]="1000" (ionInput)="handleInput($event)"></ion-searchbar>

  <div> 
      <ion-row class="ion-align-items-stretch">
        <ion-col size="5" offset="0.1">
          <div> Name </div>
        </ion-col>
        <ion-col size="1" offset="2">
          <div> Actions </div>
        </ion-col>

      </ion-row>

    </div>
    <br>
    <hr style="height:1px;border-top:1px solid #2e2e2e; margin-top: 0;" />

    <div *ngFor="let meal of result; let i = index">
      <ion-row class="ion-align-items-stretch">
        <ion-col size="5" offset="0.1" class="ion-nowrap">
          <div> {{meal.name}} </div>
        </ion-col>
        <ion-col size="1" offset="2">
          <ion-button (click)="openActionsModal(i)" padding-top="">
            <ion-icon slot="icon-only" name="menu" color="white" padding-top=""></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <hr style="height:1px;border-top:1px solid #2e2e2e; margin-top: 0;" />
    </div>
  </ion-list>

</ion-content>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click) ="openCreatorModal()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

